#banner h1 {
	margin-left: 30%;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 100px;
}


#content {
	margin-left: 13%;
	margin-right: 13%;
	font-size: 20px
}

h2 {
	font-size: 50px;
	margin-bottom: 10px
}

html {
	background: #fff5d1
}

img {
	margin-left: 0;
	width: 100%;
	background-color: #006951
}

nav {
	margin-left: 20%;
	font-size: 20px;
}

nav ul {
	list-style-type: none;
}

a {
	color: black;
	text-decoration: none;
}

nav li {
	display: inline;
	margin-right: 50px;
}

