<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        <title>Hello World</title>
        <meta charset="utf-8" />
        <meta name="generator" content="Pelican" />
        <link rel="stylesheet" href="style.css" />
</head>

<body id="index" class="home">
        <header id="banner" class="body">
        	<h1><a href="index.html">Hello World</a></h1>
        	<nav><ul id="menu">
				<li><a href="./snowcode.html">SnowCode</a></li>
				<li><a href="./Hello.html">Hello</a></li>
        	</ul></nav>
        </header><!-- /#banner -->
        <div id="content" class="content">
          {% block content %}
          {% endblock %}
        </div>
</body>
</html>
